/*
* Scrollbar
*/
::-webkit-scrollbar-track {
	background-color: black;
}

.scrollbar::-webkit-scrollbar {
	width: 0;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 5px;
}

::-webkit-scrollbar {
	width: 5px;
}

/*
* Scrollbar
*/
body {
    width: 300px;
    background-color: rgb(243, 242, 242);
}

.text-marker {
	background: red;
}