/*
* Scrollbar
*/
::-webkit-scrollbar-track {
	background-color: black;
}

.scrollbar::-webkit-scrollbar {
	width: 0;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 5px;
}

::-webkit-scrollbar {
	width: 5px;
}

/*
* Scrollbar
*/
body {
    width: 300px;
    background-color: rgb(243, 242, 242);
}

.navigation ul {
	list-style: none;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 0;
}

.navigation ul li {
	cursor: pointer;
}

.tab-active {

}

.text-marker {
	background: red;
}